logs/
backups/
databases/
modules/
accounts.xml
banlist.xml
deathmatch.la
deathmatch.so
deathmatch.dll
dbconmy.dll
dbconmy.so
libmysql.dll
libmysql.so
lua5.1.dll
pcre3.dll
pthreadVC2.dll
internal.db
registry.db
settings.xml
sqlite3.dll
resource-cache
runcode.zip
vehiclecolors.conf
.gitmodules
*.log
resources/players/token.xml
